@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: rgb(160, 232, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  height: 100vh;
}

.wrapper {
  background-color: bisque;
  width: 20rem;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 43px 26px 34px 0px rgba(0, 0, 0, 0.1);
}
